
       #member_join_my_information_top_margin{position:relative; width:100%; height:80px;}
    
    #member_join_my_information_body{position:relative; width:1200px; height:700px; margin:0 auto; background-color: white;}
    
    #my_information_left_margin{position:relative; width:100px; height:800px; float: left;}
    
    #my_information_title{margin:0 auto; width:1200px; height:100px; font-size:130%; text-align:left; font-weight:bold; line-height:100px;}
        
    #my_information_left{position: relative; width:595px; height: 550px; top:0px; border-right: 1px dotted gray;}
    
    .user_input_title{position: relative; margin:0 auto; width:595px; height:30px;font-size:90%; text-align:left; font-weight:bold; line-height:30px; }
    .user_input_text_id{position: relative; margin:0 auto; width:310px; height:40px;font-size:100%; text-align:left; background:white; border:1px solid silver; line-height:40px; color:gray; left: -40px;}
    
    
    .user_id_check_box{position: relative; width:90px; height:40px; border: 1px solid black; float: right; text-align:center; line-height:40px; margin-top: -42px; margin-right: 90px;}
    .user_id_check_box:hover{background: #231816; color: white;}
        
    .user_input_text_pw_name{position: relative; margin:0 auto; width:400px; height:40px;font-size:100%; text-align:left; background:white; border:1px solid silver; line-height:40px; color:gray; left: 5px;}
        
    .user_small_input_box{position:relative; float:left; width:120px; height:38px; background:white; border:1px solid silver; margin-right:5px; text-align:center; line-height:38px;}
        
    
    .text_box_line_delete{font-size:100%; outline:none; border:0px;}
    #select_box_line_delete{width:110px; border:0px; font-size:100%;}
    #id_text_box_line_delete{font-size:70%; outline:none; border:0px;}
    
    #my_information_right{position: relative; width:595px; height: 530px; top:-530px; left: 93px; float: right}
        
    #user_agreement_box{position: relative; width:390px; height: 150px; top:0px; left: 0px; border: 1px solid grey;}
    
    .member_join_my_information_next_button{position:relative; margin:0px auto; width:370px; height:50px; background:#061F5C; line-height:50px; text-align:center; color: white; top: 0px; float: left; border-radius:20px 20px 20px 20px;}
    .member_join_my_information_next_button:hover{background: #54C0E1;}   
    
    .user_input_small_title{position: relative; margin:0 auto; width:595px; height:30px;font-size:80%; text-align:left; font-weight:bold; line-height:30px; }
.user_input_text_pw_name_no_border{position: relative; margin:0 auto; width:400px; height:40px;font-size:100%; text-align:left; background:white; line-height:40px; color:gray; left: 5px;}

.user_input_text_pw_name_no_border_2{position: relative; margin:0 auto; width:400px; height:40px;font-size:100%; text-align:left; background:white; line-height:40px; color:gray; left: 5px; float: left; margin-left: -15px;}

